.navbar-light {
    background-color: #9dd1e5;
  }

.intro {
    font-family: Impact, Charcoal, serif;
    ;
}

.row {
    padding-top: 15px;
    /* padding-bottom: 0px; */
}
H2 {
    font-family: comic sans MS, comic sans, cursive;
}

